<body>
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css"> </link>
    <header>
            <nav class=nav-container>
                <a href="/home.html">
                        <img class="logocircle" src="/assets/images/IMG_4569.jpg">
                </a>

                <span class=nav-list>
                        <a id="btn" href="./about.html" class="button"> about</a>
                        <a id="btn" href="./portfolio.html" class="button"> portfolio</a>
                        <a id="btn" href="./contact.html" class="button"> contact</a>
                        <a id="btn" href="./memes.html" class="button"> memes</a>
                        <a id="btn" href="./login.html" class="button"> login</a>
                </span>
            </nav>
    </header>
</body> 